<h1>Places I've Been</h1>

 
  <% if @places.empty? %>
    <p><i>No places yet!</i></p>
  <% else %>
    <% for place in @places %>
      <div>
        <a href="/places/<%= place["id"] %>" > <%= place["name"] %> </a>
      </div>
      <br>
    <% end %>
  <% end %>

<br>
<br>

<p>
  <a href="/places/new">New Place</a>
</p>