<h1>Places I've Been</h1>

  <% for place in @places %>
    <div>
      <a href="/places/<%= place["id"] %>" > <%= place["name"] %> </a>
    </div>
    <br>
  <% end %>

<br>
<br>

<p>
  <a href="/places/new">New Place</a>
</p>